*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

:root{
    --color-orange: #B28756;
}

header{
    height: 100px;
    background-color: black;
    color: white;
}
.header{
    max-width: 1140px;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
}

.logo img{
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.logo{
    width: 100px;
}

.menu{
    flex: 1; 
    display: flex;
    justify-content: flex-end;
}

.menu ul,
.menu li{
    list-style: none;
}

.menu ul{
    display: flex;
}

.menu li a{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    line-height: 22px;
    display: flex;
    align-items: center;
    padding-left: 8px;
    padding-right: 8px;
    height: 100px;
    border-bottom: 5px solid black;
}

.menu li a:hover,
.menu .active a{
    border-bottom: 5px solid var(--color-orange);
    color: #CCC;
}

.button{
    display: inline-block;
    background-color: var(--color-orange);
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 10px;
    line-height: 20px;
    padding: 10px 30px;
    margin-top: 30px;
    border-radius: 20px;
}

.banner{
    height: calc(100vh - 100px);
    background-color: black;
    background-image: url('../assets/images/bg.jpg');
    background-size: cover;
    background-position: bottom;
    overflow:hidden;
}

.banner .sliders{
    width: 1000vw;
    height: 100%;
}

.banner .slide{
    width: 100vw;
    height: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.8);
}

.banner .slidearea{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: white;
}

.banner h1{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 48px;
    line-height: 59px;
}

.banner h1 span{
    color: var(--color-orange);
}

.banner h2{
    text-transform: uppercase;
    margin-top: 20px;
}

.banner .sliders-pointers{
    width: 100vw;
    height: 20px;
    position: absolute;
    margin-top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .pointer{
    width: 16px;
    height: 16px;
    border: 2px solid var(--color-orange);
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.banner .pointer.active{
    background-color: var(--color-orange);
}

.default{
    width: 100vw;
    padding-top: 50px;
    padding-bottom: 50px;
}

.default .section-title,
.default .section-desc{
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}

.default .section-title{
    font-size: 20px;
    line-height: 30px;
}

.default .section-desc{
    font-size: 10px;
    line-height: 20px;
    color: #CCC;
    margin-top: 10px;
    margin-bottom: 40px;    
}

.default .section-body{
    margin: auto;
    max-width: 1140px;
    min-height: 100px;
}

.default.light{
    background-color: #F7F7F7;
}

.default.light .section-body,
.default.light .section-title{
    color: #000;
}

.default.dark{
    background-color: black;
}

.default.dark .section-body,
.default.dark .section-title{
    color: white;
}

/*==  ==*/
.section-aboutus{
    display: flex;
}

.section-aboutus--left{
    flex: 1;
}

.section-aboutus--left p{
    font-size: 14px;
    line-height: 24px;
}

.section-aboutus--right{
    width: 520px;
    text-align: center;
}

.section-aboutus--right img{
    width: 480px;
    box-shadow: 0px 5px 10px #333;
}

/*== SECTION SERVICES ==*/
.section-services{
    display: flex;
}

.section-service{
    flex: 1;
    text-align: center;
    border-right: 1px solid #333;
    padding: 15px;
}

.section-service:first-child{
    border-left: 1px solid #333;
}

.section-service img{
    width: 60px;
    height: 60px;
}

.section-service h4{
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 28px;
}

.section-service p{
    margin-top: 10px;
    font-size: 13px;
    line-height: 23px;
    color: #999;
}

/*== SECTION PROJECTS ==*/
.section-projects{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-projects--filters{
    border: 1px solid #CCC;
    background-color: #EEE;
    border-radius: 30px;
    display: inline-block;
    padding: 0 20px;
}

.section-projects--filters ul,
.section-projects--filters li{
    list-style: none;
}

.section-projects--filters li{
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 23px;
    border-left: 1px solid #CCC;
    color: #555;
    border-bottom: 3px solid #EEE;
    cursor: pointer;
}

.section-projects--filters li:hover,
.section-projects--filters li.active{
    border-bottom: 3px solid var(--color-orange);
}

.section-projects--filters li:first-child{
    border-left: 0;
}

.section-project--photos{
    width: 100vw;
    max-width: 1140px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section-project--photo{
    width: 280px;
}

.section-projects--photoarea{
    margin: 10px;
    width: 260px;
    height: 168px;
    cursor: pointer;
}

.section-projects--photoarea img{
    width: inherit;
    height: 164px;
}

.section-projects--photoinfo{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    width: inherit;
    height: 164px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: wheat;
}

.section-projects--photoinfo h5{
    font-size: 22px;
    line-height: 32px;
    text-transform: uppercase;
}

.section-projects--photoinfo p{
    font-size: 12px;
    line-height: 22px;
    font-weight: 600;
    text-transform: uppercase;
    margin-left: 16px;
    margin-right: 16px;
}

.section-projects--photoarea:hover .section-projects--photoinfo{
    display: flex;
}

/*== TEAM ==*/
.bg-team{
    background-image: url("../assets/images/bg.jpg");
    background-size: cover;
    background-position: center;
    padding: 0;
}

.section-team-area{
    background-color: rgba(0, 0, 0, 0.8);
    padding-top: 50px;
    padding-bottom: 50px;
}

.section-team{
    overflow: hidden;
    max-width: 880px;
    margin: auto;
}

.section-team .sliders{
    width: 1000vw;
    height: 100%;
}

.section-team .slide{
    width: 280px;
    height: 100%;
    display: inline-block;
    background-color: white;
    margin-right: 20px;
    min-height: 300px;
}

.section-team .slidearea{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: black;
    padding: 30px;
}

.section-team-area .sliders-pointers{
    margin-top: 30px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-team-area .pointer{
    width: 16px;
    height: 16px;
    border: 2px solid var(--color-orange);
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.section-team-area .pointer.active{
    background-color: var(--color-orange);
}

.section-team--avatar{
    width: 150px;
    height: auto;
}

.section-team--name{
    text-transform: uppercase;
    font-weight:600 ;
    font-size: 17px;
    line-height: 27px;
    margin-top: 30px;
}

.section-team--role{
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
    color: #999;
    margin-top: 5px;
}

.section-team--social{
    display: flex;
    margin-top: 20px;
}

.section-team--social a{
    display: inline-flex;
    width: 25px;
    height: 25px;
    background-color: #CCC;
    justify-content: center;
    align-items: center;
    border-radius: 13px;
    margin-right: 10px;
}

.section-team--social a:hover{
    background-color: var(--color-orange);
}

/*== Happy Clients ==*/
.section-clients{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-client--name{
    font-size: 18px;
    line-height: 28px;
    font-weight: bold;
    margin-top: 40px;
}

.section-client--role{
    font-size: 12px;
    line-height: 22px;
    font-weight: bold;
    margin-bottom: 20px;
}

.section-client--img{
    width: 20px;
    height: auto;
    margin-bottom: 20px;
}

.section-client--text{
    max-width: 740px;
    font-size: 12px;
    line-height: 22px;
    color: #999;
    text-align: center;
}

.section-clients .sliders-pointers{
    margin-top: 30px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.section-clients .pointer{
    width: 16px;
    height: 16px;
    border: 2px solid var(--color-orange);
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.section-clients .pointer.active{
    background-color: var(--color-orange);
}

/*== sponsors ==*/

.sponsor{
    width: 100%;
    height: 160px;
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sponsors{
    max-width: 1114px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.sponsors a{
    width: 220px;
    padding: 20px;
}

/*== Price ==*/
.section-price{
    max-width: 1114px;
    height: 360px;
    display: flex;
}

.section-price--cards{
    width: 260px;
    height: 360px;
    background-color: white;
    margin-left: 30px;
    display: flex;
    color: black;
    flex-direction: column;
    align-items: center;
}

.section-price--cards:first-child{
    margin-left: 0px;
}

.section-price--cards h1{
    font-size: 12px;
    line-height: 22px;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 30px;
}

.section-price--cards h2{
    font-size: 24px;
    line-height: 34px;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 15px;
}

.section-price--cards h3{
    font-size: 8px;
    line-height: 18px;
    text-transform: uppercase;
    font-weight: 300;
    margin-top: -10px;
    margin-bottom: 15px;
    color: #999;
}

.section-price--cards p{
    font-size: 10px;
    line-height: 20px;
    font-weight: 300;
    color: #7d7d7d;
    margin-bottom: -15px;
}

.section-price--cards span{
    color: #7d7d7d;
    margin-top: 5px;
}

.section-price--cards a{
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 10px;
    line-height: 20px;
    font-weight: 800;
    color: white;
    padding: 8px 42px;
    background-color: #373737;
    border-radius: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.section-price--cards a.active,
.section-price--cards a:hover{
    background-color: var(--color-orange);
}

/*== section-premium ==*/
.section-premium{
    text-align: center;
}

.box-box{
    max-width: 1114px;
    display: flex;
    flex-direction: row;
}

.premium-box{
    width: 550px;
    text-align: center;
}

.section-premium--box{
    width: 360px;
    height: 350px;
}

.section-premium--card{
    display: flex;
}

.section-premium--texts{
    display: flex;
    flex-direction: column;
}

.section-premium--text-img{
    width: 40px;
    margin-right: 20px;
}

.section-premium--text h1{
    font-size: 18px;
    line-height: 28px;
    text-transform: uppercase;
    font-weight: 800;
    text-align: left;
}

.section-premium--text p{
    font-size: 12px;
    line-height: 22px;
    color: #7d7d7d;
    margin-bottom: 30px;
    text-align: left;
}

.line{
    display: block;
    background-color: white;
    width: 100%;
    border-bottom: 1px solid #CCC;
    margin-top: 30px;
}

.section-premium .sliders-pointers{
    margin-top: 30px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.section-premium .pointer{
    width: 16px;
    height: 16px;
    border: 2px solid var(--color-orange);
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.section-premium .pointer.active{
    background-color: var(--color-orange);
}

/*== SOME facts ==*/
.section-some-facts{
    display: flex;
}

.section-facts{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-facts h1{
    color: var(--color-orange);
    font-size: 36px;
    line-height: 46px;
}

.section-facts span{
    display: block;
    background-color: #7d7d7d;
    width: 12px;
    height: 2px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.section-facts h2{
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    max-width: 175px;
    height: 45px;
    text-align: center;
    margin-bottom: 20px;
}

.section-facts p{
    max-width: 175px;
    font-size: 12px;
    line-height: 18px;
    color: #555;
    font-weight: 500;
}

/*== SOCIAL ==*/
.social{
    width: 100%;
    height: 80px;
    background-color: #fefefe;
    border-bottom: 1px solide #555;
}

.section-social{
    max-width: 680px;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tell,
.icon{
    display: flex;
    align-items: center;
    justify-content: center;
}

.tell img{
    width: 40px;
    height: 40px;
}

.tell h1{
    text-transform: uppercase;
    font-size: 12px;
    line-height: 22px;
    color: #999;
    margin-left: 10px;
    margin-right: 30px;
}

.icon-a--img{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #34c5f2;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 20px;
}

.icon-a--img1{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #137eb6;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 20px;
}

.icon-a--img2{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #336296;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 20px;
}

.icon-a--img3{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e84138;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 20px;
}

.icon-a--img4{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #b71c2a;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 20px;
}

.icon p{
    font-size: 10px;
    line-height: 20px;
    color: #999;
    font-weight: 800;
    margin-left: 10px;
}